package components

import "strconv"

templ ArticleFooter(views int) {
	<div class="divider"></div>
	<div class="stats shadow flex-1">
		<div class="stat">
			<div class="stat-title">Total Views</div>
			<div class="stat-value">{ strconv.Itoa(views) }</div>
		</div>
	</div>
	<div class="divider"></div>
}
