package components

templ ArticleFooter() {
	<div class="divider"></div>
	<div class="stats shadow flex-1">
		<div class="stat">
			<div class="stat-title">Total Views</div>
			<div class="stat-value">0</div>
		</div>
	</div>
	<div class="divider"></div>
}
