package blogs

import (
	"github.com/robgtest/blog/internal/models"
	"github.com/robgtest/blog/web/components"
	"github.com/robgtest/blog/web/pages"
)

func metaDataIsCopilotADud() models.BlogMeta {
	blog := models.BlogMeta{
		Description: "An opinion piece on what one could consider a disastrous implementation.",
		Url:         "https://blog.bob-productions.dev/blog/2",
		Title:       "The AI Auto-complete headache",
		ImageUri:    "https://blog.bob-productions.dev/images/copilot.webp",
	}
	return blog
}

templ metaIsCopilotADud() {
	@components.MetaData(metaDataIsCopilotADud())
}

templ IsCopilotADud(theme string, views int) {
	@pages.BlogPage("AI Auto-complete, a bad implementation?", theme, views, metaIsCopilotADud()) {
		<div>
			<figure>
				<h1>AI Code Completion, a bad implementation?</h1>
				@components.BlogTimeCaption("7")
			</figure>
			<p>AI is causing a big transformation in the software development field in practically all areas, there's no doubt about that, with the success of LLM these tools are no doubt great for productivity.</p>
			<p>My biggest pet peeve though is Copilot. No doubt tremendous effort to implement it but in my opinion, it doesn't feel right. It's annoying, and guess who that reminds me of.</p>
			<figure>
				<img class="shadow-xl rounded-lg" src="../../images/isitclippy.jpeg"/>
				<figcaption>A revolutionary tool? Or shades of clippy?</figcaption>
			</figure>
			<h2>The second coming of Clippy?</h2>
			<p>
				AI for me, reminds me of an ambitious student. When I give it some instruction whether that be in the form of a direct ask it can <strong>quickly</strong> trawl a rather large library it'll go find the book it needs to formulate an answer.
				With a somewhat optimistic outlook it will try and present an answer. Great but this brings me to a major problem. If things go wrong. I'm responsible, and from my point of view where a long way from that changing.
			</p>
			<p>I want to talk specifically about Copilot for those that don't know is an AI tool, that does a few things but I want to really focus in on code completion, which is probably the most common use-case.</p>
			<p><strong>So let's get to it:</strong></p>
			<h2>Copilot Auto-Complete is Annoying</h2>
			<figure>
				<img class="shadow-xl rounded-lg" src="../../images/annoying.webp"/>
			</figure>
			<p>
				Okay so my biggest pet peeve with Copilot auto-complete is that I have limits on what I communicate when I don't want it to try and guess, the library it's using may not have a certain book. E.g. I've been using go-templ for this site AI doesnt know about it yet or has limited knowledge.
				So it's making some very annoying guesses often times based on my own code as to what the solution is, which casues my blood to boil, conveniently this leads to point two.
			</p>
			<h2>New Frameworks suffer</h2>
			<p>
				IT keeps changing, tools are absolutely no means perfect yet Copilot auto-complete rewards you for sticking to the grain which can be good, well hell I wish that would be the case in some instances but for every bad tool, there's usually a good tool, which Copilot won't know which may disuade people from exploring new tools and new tools getting their time in the limelight
				<p>Autocomplete exacerbates this problem, by trying to make awful guesses maybe this gets better in time and Copilot wil learn not to try but it drive me <i>insane</i></p>
			</p>
			<h2>Copilot auto-complete eats suggestions</h2>
			<p>Copilot auto-complete eats several slots of what my IDE wants me to do, your LSP is an important tool, which effectively tells you the methods available on objects, what you can do with that array etc.</p>
			<p>For every suggestion Copilot auto-complete provides, you loose two other things, you miss a potential option on a method you dont see.</p>
			<h2>Humans are born problem-solvers</h2>
			<p>
				I've reading about dementia recently and in that book it suggests to combat dementia you should not use satellite navigation, why? 
				<p>It apparently causes the hippocampus to diminish because the part that remembers which turn off to take or which direction your going comes from that part of the brain</p>
				<p>Your brain is an important muscle to train. Now I'm not going to be silly and make a prediction that the advent of AI will cause mass dementia but it does make me wonder of the long term effects that AI will have on our brains</p>
				<p>Copilot auto-complete is the worst case implemention for this without even letting me trying to figure out the problem on my own, it's already guessed it for me. Like don't get me wrong I can't 'know' everything but I do remember some things. For some reason being told how to write log lines everytime doesn't feel helpful.</p>
			</p>
			<h1>Conclusion</h1>
			<p>So I hate copilot autocomplete, and I seriously dislike the fact that it's the dominant tool type</p>
			<p>We should be definitely steering devs to <a href="https://docs.github.com/en/copilot/using-github-copilot/guides-on-using-github-copilot/refactoring-code-with-github-copilot">refactoring tools over Autocomplete</a></p>
			<blockquote>
				<p>On AI 25%: of the time I know what to do, The next 25% AI know what to do, The next 25% I know AI is making it up and the final 25% is finding out the hard way</p>
			</blockquote>
		</div>
	}
}
