@import "tailwindcss";
@plugin "daisyui" {
  themes: retro, synthwave;
}
@plugin "@tailwindcss/typography";

pre[class*="language-"],
code[class*="language-"] {
  white-space: normal;
  overflow: auto;
  word-break: break-word;
}
